@font-face {
    font-family: norse-bold;
    src: url(../fonts/Norse-Bold.otf);
}

:root {
    --background-width: 35vw;
    --form-width: calc(100vw - var(--background-width));
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
}

.background {
    width: var(--background-width);
    height: 100vh;
    background-image: url(../img/green-leaves.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.background .logo {
    background-color: rgba(0, 0, 0, 0.5);
    margin-top: 20%;
    padding: 0.5em;
    font-family: norse-bold;
    font-size: 2.5em;
    line-height: 3em;
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
}

.background img {
    width: var(--background-width);
}

.logo img {
    width: 2.4em;
    height: 3em;
}

.background .credit {
    position: absolute;
    bottom: 2%;
    left: 0;
    right: 0;
    text-align: center;
    color: white;
}

.credit a {
    color: white;
}

.credit a:visited {
    color: purple;
}

.form {
    width: var(--form-width);
}

.form .form-description {
    width: 100%;
    padding: 3em;
    padding-top: 5em;
    background-color: #dadee0;
}

.form .form-description p {
    max-inline-size: 52ch;
    font-size: 1.5em;
    padding: 0.5em;
}

.form-content {
    padding: 3em;
    background-color: #ffffff;
    box-shadow: 0 3px 5px 1px #bac0c2;
}

.form-content form {
    display: flex;
    flex-wrap: wrap;
    padding: 10px 0;
}

.form-content form .form-field {
    width: 40%;
}

.form-field label {
    display: block;
    margin-bottom: 0.3em;
    font-size: 0.8em;
    letter-spacing: 0.5px;
}

.form-field input {
    width: 70%;
    padding: 0.5em;
    margin-bottom: 1.5em;
    border: 1px solid #c0c3c4;
    border-radius: 4px;
}

.form-field input:focus {
    outline: none;
    border-color: #a8d6e6;
    box-shadow: 0 0 10px 0.5px #a8d6e6;
}
